*{
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #cd853f;
    color: #0000ff;
	padding: 1rem 0;
    font-size: 1.5rem;
    text-decoration: none;
    border-bottom: 3px solid #ff0000;
}

main{
    background-color:  #ffdb8b;
}

p{
    color: #0000ff;
}

label{
    color: #0000ff;
}

.container{
    margin: 0 auto;
    max-width: 95%;
}

.d-flex{
    display: flex;
}

.titleHeader{
    display: inline;
    margin-left: 0.5rem;
}

.menu{
    display: inline;
    margin-left: auto;
}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

.menu li{
    display: inline;
    margin-right: 5px;
    padding: 10px;
    text-decoration: none;
}

.navigation{
    text-decoration: none;
    color: #0000ff;
}

.descrip{
    margin: 1rem;
}

.welc{
    color:#0000ff;
}

.about{
    text-align: center;
    font-size: 1rem;
}

.about h2{
    margin: 1rem;
    color: #0000ff;
}

.about h3{
    color: #0000ff;
}

.about p{
    color: #0000ff;
}

.roads{
    text-align: center;
    font-size: 1rem;
}

.roads h2{
    margin: 1rem;
    color: #0000ff;
}

.roads table th{
    color: #0000ff;
    background-color: #ffdb8b;
    text-align: center;
}

.roads table td{
    text-align: center;
    color: #0000ff;
    background-color: #ffdb8b;
}

.pagination {
    display: flex;
    justify-content: center;
    background-color: #ffdb8b;    
}

.pagination button {
    background-color: #cd853f;
    color: #0000ff;
    border: none;
    margin: 2px;
    border-radius: 3px;
}

.tbody-guids {
    background-color: #ffdb8b;
}

.contacts{
    margin: 0rem;
    text-align: center;
    font-size: 0.8rem;
    line-height: 0.7rem;
    background-color: #ffdb8b;
}

.contacts h2{
    margin: 1rem;
    color: #0000ff;
}

.ref1 {
    color: #0000ff;
    text-decoration: none;
}
